body {
  background-color: #f8f7f7;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;

}

a {
  color: #7e7e7e;
}

.navbar {
  background-color: #f8f7f7;
  border: none;
  color: #7e7e7e;
}

.logo {
  width: 48%;
  margin-top: 1%;
  margin-left: 47%;
}

.rightNavigation {
 margin-right: 10%;
}

.glyphicon-usd {
  font-size: 1.5em;
}

.glyphicon-question-sign {
  font-size: 1.5em;
}

.glyphicon-menu-hamburger {
  font-size: 3em;
}

.hamburgerToggle {
  background-color: #f8f7f7;
  height: 100vh;
}

.hamRow1 div:nth-child(1) {
  font-size: 180%;
}

.hamRow1 div p:nth-child(4), .hamRow1 div p:nth-child(5) {
  font-size: 70%;
}

.hamRow1 div p:nth-child(4) {
  padding-top: 1em;
}

.hamRow1 div:nth-child(2) {
  font-size: 220%;
  font-weight: bold;
  line-height: 1.3em;
}

.hamRow2 {
  font-size: 180%;
  font-weight: bolder;
  padding-top: 3em;
}

.header {
  background-image: url(../img/play.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.headerH1 {
  color: white;
  font-size: 346%;
  margin-top: 40%;
  text-align: center;
}

form {
  margin-top: 7%;
}

.formBackground {
  background-color: rgba(236, 236, 236, 0.5);
  padding: 2em;
  border-radius: 7px;
}

.attractions h2 {
  padding-top: 2em;
}

.space h2 {
  padding-top: 1em;
}

.space {
  position: relative;
  background-color: #4A90E2;
  height: 23vh;
  z-index: -1000;
}

#spaceman {
  position: absolute;
  right: 24%;
  z-index: -1;
}

.explore {
  height: 36vh;
  background-color: #f6f6f6;
  text-align: center;
}

.explore:nth-child(odd) {
  background-color: #efefef;
}

.camp, .theater {
  padding-left: 2em;
}

.newLocation {
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 23vh;
  text-align: center;
}

footer {
  background-color: #353535;
  color: white;
}
